---
import Layout from '@layouts/Layout.astro'
import TypingTitle from '@components/TypingTitle.astro';

import { about, projects, hardSkills, softSkills } from '@data/portfolio.json'
---

<Layout title="Ben Keys - Portfolio">
  <div class="content text-center">
    <TypingTitle />

    <p class="text-lg">{about}</p>

    <section>
      <h2>Projects</h2>
      <div class="flex flex-wrap justify-center gap-x-4 gap-y-3">
        {
          projects.map(({ username, repo }) => (
            <a
              class="duration-100 ease-in-out hover:scale-[102%]"
              href={`https://github.com/${username}/${repo}`}
            >
              <img
                src={`https://github-readme-stats.vercel.app/api/pin?username=${username}&repo=${repo}&text_color=5E5E5E`}
                alt="Repository Card"
                height="150"
                width="400"
              />
            </a>
          ))
        }
      </div>
    </section>

    <section>
      <h2>Hard Skills</h2>
      {
        hardSkills.map(({ title, icons }) => (
          <>
            <h4>{title.toUpperCase()}</h4>
            <div class="flex flex-wrap justify-center gap-x-3 gap-y-2">
              {icons.map(({ title, href, slug }) => (
                <a
                  title={title}
                  href={href}
                  class="p-1 duration-100 ease-in-out hover:scale-105"
                >
                  <img
                    height="48"
                    width="48"
                    src={`https://cdn.simpleicons.org/${slug}`}
                    alt={slug + ' icon'}
                  />
                </a>
              ))}
            </div>
          </>
        ))
      }
    </section>

    <section>
      <h2>Soft Skills</h2>
      <div class="grid grid-cols-1 gap-x-4 gap-y-6 md:grid-cols-2">
        {
          softSkills.map(({ title, desc }) => (
            <div>
              <h4>{title}</h4>
              <p class="mx-auto mt-2 max-w-2xl text-lg">{desc}</p>
            </div>
          ))
        }
      </div>
    </section>
  </div>
</Layout>
