---
interface Props {
  title: string
  date?: Date
  desc?: string
  tags?: string[]
  href: string
  img: {
    src: string
    alt?: string
  }
}

const { title, desc, date, tags, href, img } = Astro.props
---

<div class="col-span-12 shadow-md sm:col-span-6 lg:col-span-4 max-h-96">
  <a href={href}>
    <div class="relative overflow-hidden bg-primary pt-[60%]">
      <img
        src={img.src}
        alt={img.alt}
        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
      />
    </div>
    <div class="p-2">
      {
        (tags ? tags.length > 0 : false) && (
          <h5 class="font-normal">{tags!.join()}</h5>
        )
      }
      <h3 class="mt-1">{title}</h3>
      <h5 class="mt-[2px] font-normal">{date && date.toLocaleDateString()}</h5>
      {desc && <p class="mt-[5px] truncate-multiline-4">{desc}</p>}
    </div>
  </a>
</div>
