---
interface Props {
  title: string
  date?: Date
  desc?: string
  tag?: string
  href: string
  img: {
    src: string
    alt?: string
    bgColor?: string
    contain?: boolean
  }
}

const { title, desc, date, tag, href, img } = Astro.props
---
  
<a
    class="col-span-12 flex flex-col bg-secondary shadow-md sm:col-span-6 lg:col-span-4"
    href={href}
  >
    <img
      src={img.src}
      alt={img.alt}
      class={`h-60 w-full ${img.contain ? 'object-contain' : 'object-cover'}`}
      style={img.bgColor ? 'background: ' + img.bgColor : undefined}
    />
    <div class="grow p-3">
      {
        date && (
          <div class="flex items-center">
            <h6>{date && date.toLocaleDateString()}</h6>
            {tag && <h6 class="grow text-right">#{tag}</h6>}
          </div>
        )
      }
      <h3 class="my-2">{title}</h3>
      {desc && <p class="truncate-multiline-4">{desc}</p>}
    </div>
    {
      date && (
        <div class="border-t-secondary flex items-center border-t-[1px] px-2 py-3">
          <p class="grow">Read Article</p>
          <p>-&gt;</p>
        </div>
      )
    }
</a>
